{% extends 'base.html' %}

{% block style %}
<style>
  body {
    margin: 5rem;
  }
</style>
{% endblock style %}

{% block content %}
<h1>reviews DETAIL</h1>
<hr>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">{{review.user}}<span>{{review.created_at}}</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">{{review.content}}</li>
  </ul>
</div>
{% endblock content %}