{% extends 'base.html' %}

{% block style %}
<style>
  body {
    margin: 5rem;
  }
</style>
{% endblock style %}

{% block content %}
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center">
      {{ review.user }} {{ review.rate }}점 / 좋아요 {{ review.like_users.all.count }}개
      <form action="{% url 'reviews:likes' movie.pk review.pk %}" method=="POST">
        {% csrf_token %}
        {% if user in review.like_users.all %}
        <input type="submit" class="btn" value="NOT LIKE">
        {% else %}
        <input type="submit" class="btn" value="LIKE">
        {% endif %}
      </form>
      </div>
      <span>{{ review.created_at }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">{{review.content}}</li>
  </ul>
</div>
{% if user.is_authenticated %}
<form action="{% url 'reviews:comments' movie.pk review.pk %}" method="POST">
  {% csrf_token %}
  {% for field in comment_form %}
  <div class="input-group mb-3">
    <span class="input-group-text" style = "width: 13rem;" id="{{ field.auto_id }}">{{ field.label }}</span>
    {{ field }}
  </div> 
  {% endfor %}
  <div class="d-grid gap-2 mb-3">
    <input type="submit" class="btn" value="CREATE">
  </div>
</form>
{% endif %}
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    {% for comment in comments %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ comment.user }} : {{ comment.content }}
      <span>
        {% if comment.user == request.user %}
        <form action="{% url 'reviews:comment_delete' movie.pk review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="DELETE">
        </form>
        {% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}