{% extends 'base.html' %}

{% block style %}
<style>
  body {
    margin: 5rem;
  }
</style>
{% endblock style %}

{% block content %}
<div class="row gap-3">
  <h3>{{ movie.title }}</h3>
  <div class="card" style="width: 100%; padding: 0;">
    <div class="row">
      <div class="col-auto">
        <img class="card-img-top" src="{{ movie.poster_thumbnail.url }}" alt="">
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">원제 : {{ movie.original_title }}</li>
          <li class="list-group-item">개봉일 : {{ movie.release_date }}</li>
          <li class="list-group-item">장르 : {{ movie.genre }}</li>
          <li class="list-group-item">국가 : {{ movie.country }}</li>
          <li class="list-group-item">연령 : {{ movie.age }}</li>
        </ul>
      </div>
    </div>
  </div>
  {% for person in moviepeople %}
  <div class="card" style="width: 13rem; padding: 0;">
    <ul class="list-group list-group-flush">
      <img class="card-img-top" src="{{ person.personphoto_thumbnail.url }}" alt="" style="">
      <li class="list-group-item">이름 : {{ person.person_name }}</li>
      <li class="list-group-item">역할 : {{ person.part }}</li>
      {% if person.character_name %}
      <li class="list-group-item">캐릭터명 : {{ person.character_name }}</li>
      {% endif %}
      {% if movie.user == user %}
      <form action="{% url 'movies:person_delete' movie.pk person.pk %}" method="POST">
        {% csrf_token %}
        <li class="list-group-item"><input type="submit" value="PERSON DELETE" class="btn btn-primary"></li>
      </form>
      {% endif %}
    </ul>
  </div>
  {% endfor %}
  <div class="d-grid gap-2 d-flex" style="margin: 0; padding: 0;">
    {% if movie.user == user %}
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE" class="btn btn-primary">
    </form>
    <a href="{% url 'movies:update' movie.pk %}" class="btn btn-primary">UPDATE</a>
    <a href="{% url 'movies:person' movie.pk %}" class="btn btn-primary">PERSON</a>
    {% else %}
    <a href="{% url 'reviews:create' movie.pk %}" class="btn btn-primary">REVIEW</a>
    <form action="{% url 'movies:wish' movie.pk %}" method=="POST">
      {% csrf_token %}
      {% if user in movie.wish_users.all %}
      <input type="submit" value="NOT WISH" class="btn btn-primary">
      {% else %}
      <input type="submit" value="WISH" class="btn btn-primary">
      {% endif %}
    </form>
    {% endif %}
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
    {% for review in reviews %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <a href="{% url 'accounts:profile' review.user.username %}">
              {{review.user}} :
            </a> 
          </div>
          <div class="col">
            <a href="{% url 'reviews:detail' movie.pk review.pk %}">
              {{review.content}}
            </a>
          </div>
          <div class="col-auto d-grid gap-2">
            {% if review.user == user %}
            <form action="{% url 'reviews:delete' movie.pk review.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="DELETE" class="btn btn-primary">
            </form>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}