{% extends 'base.html' %}
{% load static %}
{% block nav_bg %}
position: relative;

/* The image used */
color: white;
background-image: url({{ first_moviephoto }});

min-height: 380px;

/* Center and scale the image nicely */
background-position: top;
background-repeat: no-repeat;
background-size: cover;

/* Needed to position the navbar */
position: relative;
{% endblock nav_bg %}

{% block style %}
.nav__container {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0; /* Position the child div at the top */
  left: 0; /* Position the child div at the left */
  width: 100%;
}
{% endblock style %}

{% block content %}
<div class="row gap-3">
  <div class="card" style="width: 100%; padding: 0;">
    <div class="row">
      <div class="col-auto">
        <img class="card-img-top rounded" src="{{ movie.poster_thumbnail.url }}" alt="">
      </div>
      <div class="col">
        <h3 class="fw-bold">{{ movie.title }}</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">원제 : {{ movie.original_title }}</li>
          <li class="list-group-item">개봉일 : {{ movie.release_date }}</li>
          <li class="list-group-item">장르 : {{ movie.genre }}</li>
          <li class="list-group-item">국가 : {{ movie.country }}</li>
          <li class="list-group-item">연령 : {{ movie.age }}</li>
        </ul>
      </div>
    </div>
  </div>
  {% for person in moviepeople %}
  <div class="card" style="width: 13rem; padding: 0;">
    <ul class="list-group list-group-flush">
      <img class="card-img-top rounded" src="{{ person.personphoto_thumbnail.url }}" alt="" style="">
      <li class="list-group-item">이름 : {{ person.person_name }}</li>
      <li class="list-group-item">역할 : {{ person.part }}</li>
      {% if person.character_name %}
      <li class="list-group-item">캐릭터명 : {{ person.character_name }}</li>
      {% endif %}
      {% if movie.user == user %}
      <form action="{% url 'movies:person_delete' movie.pk person.pk %}" method="POST">
        {% csrf_token %}
        <li class="list-group-item"><input type="submit" value="PERSON DELETE" class="btn"></li>
      </form>
      {% endif %}
    </ul>
  </div>
  {% endfor %}
  <div class="d-grid gap-2 d-flex" style="margin: 0; padding: 0;">
    {% if movie.user == user %}
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE" class="btn">
    </form>
    <a href="{% url 'movies:update' movie.pk %}" class="btn">UPDATE</a>
    <a href="{% url 'movies:person' movie.pk %}" class="btn">PERSON</a>
    {% else %}
    <a href="{% url 'reviews:create' movie.pk %}" class="btn">REVIEW</a>
    <form id="wish-form" data-movie-id="{{ movie.pk }}">
      {% csrf_token %}
      {% if user in movie.wish_users.all %}
      <input type="submit" value="NOT WISH" class="btn">
      {% else %}
      <input type="submit" value="WISH" class="btn">
      {% endif %}
    </form>
    {% endif %}
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
    {% for review in reviews %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <a href="{% url 'accounts:profile' review.user.username %}">
              {{review.user}} :
            </a> 
          </div>
          <div class="col">
            <a href="{% url 'reviews:detail' movie.pk review.pk %}">
              {{review.content}}
            </a>
          </div>
          <div class="col-auto d-grid gap-2">
            {% if review.user == user %}
            <form action="{% url 'reviews:delete' movie.pk review.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="DELETE" class="btn">
            </form>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  const form = document.querySelector('#wish-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const movieId = event.target.dataset.movieId
    axios({
      method: 'post',
      url: `/movies/${movieId}/wish/`,
      headers: {'X-CSRFToken': csrftoken,}
    })
      .then((response) => {
        const isWished = response.data.is_wished
        const wishBtn = document.querySelector('#wish-form > input[type=submit]')
        if (isWished === true) {
          wishBtn.value = 'NOT WISH'
        } else {
          wishBtn.value = 'WISH'
        }
      })
  })
</script>
{% endblock script %}