{% extends 'base.html' %}

{% block style %}
<style>
  body {
    margin: 5rem;
  }
</style>
{% endblock style %}

{% block content %}
<h1>accounts PROFILE</h1>
<hr>
<div class="content mt-5">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-auto">
                <div class="card card-user text-center" style="padding:2rem; text-align: center; border: 0;">
                    <div class="image text-center">
                        {% if person.image %}
                        <img class="profileimage" src="{{ person.image.url }}" alt="이미지">
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="author">
                              <h4 class="title"></br>
                              </h4>
                              <h4 class="title mb-5">{{ person.username }}</br>
                              </h4>
                        <p class="description text-center"> 
                        </p>
                    </div>
                    {% comment %} <hr>
                    <div class="text-center">
                        <button type="button" onclick="window.open('https://www.facebook.com');" class="btn btn-simple"><i class="fa fa-facebook-square">facebook</i></button>
                        <button href="button" onclick="window.open('https://www.twitter.com');"class="btn btn-simple"><i class="fa fa-twitter">twitter</i></button>
                        <button href="button" onclick="window.open('https://www.google.com');"class="btn btn-simple"><i class="fa fa-google-plus-square">google</i></button>

                    </div> {% endcomment %}
                </div>
            </div>

            <div class="col-auto">
                <div class="card mb-5" style="padding:2rem;">
                    <div class="content">
                        <p>ID : {{ person.username }}</p>
                        <p>이름 : {{ person.name }}</p>
                        <p>이메일 : {{ person.email }}</p>
                        {% if request.user == person %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'accounts:update' %}" class="btn btn-info btn-fill pull-right">내정보수정</a>
                        <a href="{% url 'accounts:delete' %}" class="btn btn-info btn-fill pull-right">회원탈퇴</a>
                        <a href="{% url 'accounts:password' %}" class="btn btn-info btn-fill pull-right">비밀번호 변경</a>
                        <a href="{% url 'accounts:logout' %}" class="btn btn-info btn-fill pull-right">로그아웃</a>
                        {% else %}
                        <form action="{% url 'accounts:follow' person.pk %}" method=="POST">
                            {% csrf_token %}
                            {% if request.user in person.followers.all %}
                                <input type="submit" value="UnFollow" class="btn btn-info btn-fill pull-right">
                            {% else %}
                                <input type="submit" value="Follow" class="btn btn-info btn-fill pull-right">
                            {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}