{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        {{ person.username }}님의 정보
    </div>
    <div class="card-body">
        {% if person.image %}
        <img class="card-img-top" src="{{ person.image.url }}" alt="" style="width:150px; border-radius: 50%; border:5px solid var(--main-mango); padding: 0px;">
        {% else %}
        <img class="card-img-top" src="{% static 'ICON_CLR.png' %}" alt="" style="width:150px; border-radius: 50%; border:5px solid var(--main-mango); padding: 0px;">
        {% endif %}
        <h5 class="card-title mt-2">{{ person.last_name }}{{ person.first_name }}</h5>
        <form id="follow-form" data-user-id="{{ person.pk }}">
            {% csrf_token %}
            {% if request.user in person.followers.all %}
                <input type="submit" value="UnFollow" class="btn btn-info btn-fill pull-right">
            {% else %}
                <input type="submit" value="Follow" class="btn btn-info btn-fill pull-right">
            {% endif %}
        </form>
        {% for review in reviews %}
        <p class="card-text mt-2">
            <a href="{% url 'movies:detail' review.movie.id %}">{{ review.movie.title }}</a>
        {{ review.content }}
            {{ review.content }}
        </p>
        {% endfor %}
    </div>
    <div class="card-footer text-body-secondary">
        {{ rev_nums }}개의 리뷰를 작성하였습니다.
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    form.addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event.target.dataset.userId
        axios({
            method: 'post',
            url: `/accounts/${userId}/follow/`,
            headers: {'X-CSRFToken': csrftoken,}
        })
            .then((response) => {
                const isFollowed = response.data.is_followed
                const followBtn = document.querySelector('#follow-form > input[type=submit]')
                if (isFollowed ===true) {
                    followBtn.value = 'UnFollow'
                } else {
                    followBtn.value = 'Follow'
                }
            })
    })
</script>
{% endblock script %}