{% extends 'base.html' %}

{% block style %}
<style>
  body {
    margin: 5rem;
  }
</style>
{% endblock style %}

{% block content %}
<h1>accounts SIGNUP</h1>
<hr>
<form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="input-group mb-3">
    <span class="input-group-text" style = "width: 7rem;" id="{{ field.auto_id }}">{{ field.label }}</span>
    {{ field }}
  </div>
  {% endfor %}
  <div class="d-grid gap-2 mb-2">
    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
{% endblock content %}